{
  "extends": [
    "react-app",
    "airbnb",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/flowtype",
    "prettier/react"
  ],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}