// .eslintrc file overrides package.json settings

// Create React App installs the ESLint package. Installing it with npm
// may show an error in the terminal. Setting the ENV variable EXTEND_ESLINT
// to true will prevent building of projects with errors (warnings are okay)

// In "extends" make sure to add the "prettier" config after any other configs (e.g. "airbnb")
// so it overrides them. If necessary, add any prettier/sub-configs (see below) last.

// From docs for eslint-config-prettier:
// If you extend a config which uses a plugin, it is recommended
// to add "prettier/that-plugin" (if available).

// Supported plugins used by eslint-config-react-app:
// @typescript-eslint/eslint-plugin
// eslint-plugin-flowtype
// eslint-plugin-react (also used by eslint-config-airbnb)

// Prettier should be installed with an exact version. From the docs:
// We recommend pinning an exact version of prettier in your package.json
// as we introduce stylistic changes in patch releases.

// Recommended configuration for eslint-plugin-prettier:
// Add "plugin:prettier/recommended" as the last extension. This will
// 1) enable the plugin 2) set prettier/prettier rule to "error" and
// 3) extend using eslint-config-prettier. Additional options can be set
// inside a .prettierrc file. The extra plugin exclusions should be added
// after the recommended configuration

{
  "extends": [
    "react-app",
    "airbnb",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}

// ideas

// 1)
// dev: only eslint rules: react-app, airbnb, additional rules
// commit: run through eslint, prettier check

// 2)
// npm script: check eslint and prettier on commited files

// 3)
// only run manual eslint check, set up prettier as eslint rules

// 4)
// eslint extends rules are only for use in npm script, manual linting before committing
// do not set environment variable, so create-react-app does not use this



// lint-staged won't exit on prettier warns or errors, but will fix them
// setting prettier to error will prevent building during development

// npm run build config for prettier "error"
// npm run start config for prettier "warn"
// lint-staged config prettier --write

// "react/prop-types": [1]
// @TODO write note about built-in extension: TypeScript and JavaScript Language Features

// Additional rules:
// Change from default 2 in eslint-plugin-react react/prop-types

// "react/require-default-props": [1],
// "react/default-props-match-prop-types": [1],
// "react/no-unused-prop-types": [1]

// @TODO test this
// extends: airbnb/hooks

// @TODO test line endings. create crlf file and try committing

// @TODO set up git pull so lf remains lf (not converted to crlf on windows)
